.frontExp{
    margin-top: 10px;
    font-family:fantasy ;
    font-size: 35px;
    text-align: center;
    color:orange;
}
.expe{
    border-top: 1px solid;
    border-bottom: 1px solid;
}
@media (max-width:600px) {
.añop{
    font-size: 10px;
}
}